
.App {
  margin: .5em;
}

.display-flex{
  display: flex;
  justify-content: space-between;
}

p{
  color: green;
}

p.bigSized{
  font-size: 2em;
}

.product-card{
  width: 25%;
  border: solid gray 1px;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
  padding: .75rem;
}